In [3]:
# Import Required Modules
import pandas as pd 
import matplotlib as plt
import numpy as np
import seaborn as sns
import datetime as dt
import yfinance as yf
import csv 
import glob

#create csv of main df for other analyses
output_main_df = ('./df_csv/all_manuf.csv')

In [8]:
# Create Dataframe with all manufacturers

path = './df_csv'
all_files = glob.glob(path + "/*.csv")

file_list = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    file_list.append(df)

all_manuf = pd.concat(file_list, axis=0, ignore_index=True)
all_manuf.to_csv(output_main_df)

In [9]:
all_manuf

,Date,Open,High,Low,Close,Adj Close,Volume,Company,Region
0,2019-12-02,12.630000,12.630000,12.290000,12.400000,12.400000,216900,Nissan,Asia
1,2019-12-03,12.420000,12.430000,12.220000,12.310000,12.310000,78800,Nissan,Asia
2,2019-12-04,12.140000,12.420000,12.140000,12.370000,12.370000,105400,Nissan,Asia
3,2019-12-05,12.370000,12.480000,12.370000,12.400000,12.400000,105800,Nissan,Asia
4,2019-12-06,12.260000,12.540000,12.260000,12.440000,12.440000,98900,Nissan,Asia
...,...,...,...,...,...,...,...,...,...
3805,2020-11-25,49.840000,50.599998,49.119999,50.189999,50.189999,1519800,Lincoln,U.S.
3806,2020-11-27,50.189999,50.590000,49.090000,49.160000,49.160000,905800,Lincoln,U.S.
3807,2020-11-30,48.700001,49.560001,47.020000,47.220001,47.220001,3003400,Lincoln,U.S.
3808,2020-12-01,49.330002,50.439999,48.880001,49.900002,49.900002,1837400,Lincoln,U.S.
3809,2020-12-02,49.580002,51.779999,49.000000,51.349998,51.349998,2307200,Lincoln,U.S.